$bgc: #1D1C21;
$menu-color: #F6F6F6;
$contact-btn-color: #D8D8D9;
$menu-line-color: #89898B;
$active-color: #FD0000;
$icons-color: #FD0000;
$red-btn-color: #FD0000;
$big-headers-color: #89898B;
$dark-text: #1D1C21;
$light-text: #F6F6F6;
$light-btn: #F6F6F6;
$placeholder-color: #36353D;
$form-line-color: #CECECE;
$contact-bgc: #C4C4C4;
$footer-text-color: #89898B;
