// @font-face {
//     font-family: 'Playfair Display SC', serif;
//     src: url("../../fonts/Playfair_Display_SC/PlayfairDisplaySC-Black.ttf") format("truetype");
//     font-weight: 900;
// }

// @font-face {
//     font-family: 'Raleway', sans-serif;
//     src: url("../../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
//     font-weight: 400;
// }

%headers {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    letter-spacing: 0.01em;
}

%text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
}

$header-1: 18px;
$header-2: 61px;
$header-3: 24px;
$header-4: 18px;
$header-5: 14px;
$menu-font-size: 15px;
$small-text: 15px;
$contact-btn-font-size: 16px;
$contact-plus: 34px;
$footer-text-size: 13px;
