header {
    background: url(../../img/hero-bg.png);
    background-position: center;
    padding-top: 2.5vw;
    padding-left: 10.6vw;
    padding-right: 10.6vw;
}

nav {
    border-bottom: 2px solid $menu-line-color;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    font-size: $menu-font-size;
    color: $menu-color;
    letter-spacing: 0.01em;
}

a:hover {
    cursor: pointer;
}

section {
    padding-top: 6.2vw;
    padding-left: 10.6vw;
    padding-right: 10.6vw;
    padding-bottom: 128px;
}

h2 {
    color: $big-headers-color;
    text-transform: uppercase;
}

h3 {
    color: $light-text;
    text-transform: uppercase;
}

p {
    color: $dark-text;
    font-size: $small-text;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    color: $light-btn;
    font-size: $small-text;
}

button:hover {
    cursor: pointer;
}

input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

footer {
    padding-left: 10.6vw;
    padding-right: 10.6vw;
}
